presentations/machine-learning-solutions.tex
presentations/figures/2d*
models/windturbines-simple-model-027-0.988224-1.000000.h5
models/windturbines-unfreezed-model-0005-0.02.h5

*.nlogo
*.pdf
*.gz
*.toc
*.nav
*.out
*.aux
*.bbl
*.blg
*.snm
*.log


